---
import type { CollectionEntry } from 'astro:content';

interface Props {
  item: CollectionEntry<'activities'>;
}

const { item } = Astro.props;
const { role, organizationName, startedAt, endedAt, body } = item.data;
---

<div class="flex gap-6">
  <div class="w-36 flex-shrink-0 pt-1 text-sm text-gray-400">
    {startedAt} — {endedAt ?? '현재'}
  </div>
  <div class="flex-1">
    <h3 class="text-lg font-semibold">{role}</h3>
    <p class="mb-4 text-gray-500">{organizationName}</p>
    {
      body.map((section) => (
        <div class="mb-4">
          <h4 class="mb-1 font-medium">{section.heading}</h4>
          {section.description && <p class="mb-1 text-sm text-gray-600">{section.description}</p>}
          <ul class="list-inside list-disc space-y-1 text-sm text-gray-600">
            {section.lists.map((item) => (
              <li>{item}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</div>
